<div style="width: 100%;
	height: 100%;
	margin: 1em;
	padding: 1em;
	background-color: red">
	<ux-hexatile data="[
			{
				partial: 'technology.svg',
				text: 'technology'
			},
			{
				partial: 'travel.svg',
				text: 'travel'
			},
			{
				partial: 'food.svg',
				text: 'food'
			},
			{
				partial: 'learn.svg',
				text: 'learn'
			},
			{
				partial: 'movies.svg',
				text: 'movies'
			},
			{
				partial: 'art.svg',
				text: 'art'
			},
			{
				partial: 'sport.svg',
				text: 'sport'
			}
		]" />
</div>
